<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - HelpMeNow</title>
    <link rel="stylesheet" th:href="@{/assets/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
</head>

<body class="d-flex justify-content-center align-items-center bg-gradient-primary vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5" style="height: 400px;">
                    <div class="card-body p-0">
                        <div class="row" style="height: 400px;">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background: url(&quot;/assets/img/photo-1603969409447-ba86143a03f6-1.jpg&quot;) top / cover no-repeat;"></div>
                            </div>
                            <div class="col-lg-6 align-content-center">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Help Me Now!</h4>
                                    </div>
                                    <form class="userApp" th:action="@{/login}" method="post">
                                        <div class="mb-3"><input class="form-control form-control-userApp" type="email" id="username" aria-describedby="emailHelp" placeholder="Email" name="username"></div>
                                        <div class="mb-3"><input class="form-control form-control-userApp" type="password" id="password" placeholder="Senha" name="password"></div><button class="btn btn-primary d-block btn-userApp w-100" type="submit">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/theme.js"></script>
</body>

</html>